body{
    background: purple;
}

h1 {
    color: turquoise;
    font-family: sans-serif;
    border-bottom: 2px solid turquoise;
}

h2 {
    color: red;
    font-family: sans-serif;
    border-bottom: 2px solid turquoise;
}